.footer {
  width: 100%;
  background-color: #191919;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 99;
}

.socialMedia svg {
  color: white;
  margin: 10px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: white;
}

.connect-section {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .footer {
    position: fixed;
    bottom: 0;
  }

  .footer svg {
    font-size: 50px;
  }
}
