@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@400;600;700&display=swap");

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f9004d;
    background: linear-gradient(180deg, #ffffff, #f4f4f4);
    font-family: "Open Sans", sans-serif;
    /*padding: 20px;*/
}

.aboutme {
    width: 100%;
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #191919, #2d2d2d);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.aboutme h2 {
    font-size: 4rem;
    color: #f9004d;
    margin: 0;
    font-weight: 700;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.aboutme h2 span {
    font-family: "Kaushan Script", cursive;
    font-size: 4.5rem;
    color: #f0f0f0;
    background: linear-gradient(90deg, #f9004d, #ff616f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 1rem;
    display: inline-block;
}

.aboutme .prompt {
    width: 50%;
    font-size: 1.25rem;
    line-height: 1.8;
    margin: 20px 0;
    color: #f0f0f0;
}

.skills-section h2 {
    font-size: 3.5rem;
    color: #191919;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
}

.skillList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills h1 {
    font-size: 2.5rem;
    color: #f9004d;
}

@media only screen and (max-width: 1024px) {
    .aboutme h2 {
        font-size: 2.5rem;
    }

    .aboutme h2 span {
        font-size: 3rem;
    }

    .aboutme .prompt {
        width: 90%;
        font-size: 1rem;
    }

    .skills-section h2 {
        font-size: 2rem;
    }

    .skills h1 {
        font-size: 1.5rem;
    }

    .prompt svg {
        font-size: 2rem;
    }
}