.image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #191919;
}

.card {
  position: absolute; /* Change to relative positioning for responsiveness */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  text-align: center; /* Center text inside the card */
}

.card img {
  max-width: none;
  max-height: none;
  width: 600px;
  height: auto;
  object-fit: cover; /* Adjust the image to cover the card */
  display: block; /* Center-align the image horizontally */
  margin: 0 auto; /* Center-align the image horizontally */
}

.active {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.2s;
  z-index: 1;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  z-index: 2;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* Adjust the slider height for screens with a max-width of 600px */
@media screen and (max-width: 600px) {
  .card {
    position: relative;
  }
  .card img {
    width: 300px;
  }
}

/* Adjust the slider height for screens with a max-width of 768px */
/* Adjust the slider for screens between 601px and 768px width */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .card {
    position: relative;
  }
  .card img {
    width: 600px;
  }
}
