body {
    transition: overflow 0.3s ease;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.modalOverlay.fadeIn {
    opacity: 1;
    pointer-events: auto;
}

.modalOverlay.fadeOut {
    opacity: 0;
    pointer-events: none;
}

.modalContent {
    background-color: white;
    padding: 20px;
    max-width: 800px;
    width: 80%;
    height: 70%;
    overflow-y: auto;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modalOverlay.fadeIn .modalContent {
    opacity: 1;
}

.modalOverlay.fadeOut .modalContent {
    opacity: 0;
}

.modalCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    overflow: hidden;
}

.carouselContent {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 80%;
    height: 100%;
}

.carouselImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carouselVideo {
    width: 575px;
    height: 400px;
    border-radius: 10px;
}

.carouselNavigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselNavigation button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.carouselNavigation.prev {
    left: 10px;
}

.carouselNavigation.next {
    right: 10px;
}

.modalDescription,
.modalResponsabilities {
    margin-top: 20px;
}

.projectLink a {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

.modalContent h1 {
    font-size: 2rem;
}

.techIcons {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.techIcon {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease;
}

.techIcon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.techIcon:hover {
    transform: scale(1.2);
}

.techIcon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.techIcon:hover::after {
    visibility: visible;
    opacity: 1;
}