body {
    transition: overflow 0.3s ease;
}

.modalOverlay {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modalOverlay.fadeIn {
    opacity: 1;
}

.modalOverlay.fadeOut {
    opacity: 0;
}

.modalContent {
    background-color: white;
    padding: 20px;
    max-width: 800px;
    width: 80%;
    height: 70%;
    overflow-y: auto;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10000;
}

.modalOverlay.fadeIn .modalContent {
    opacity: 1;
}

.modalOverlay.fadeOut .modalContent {
    opacity: 0;
}

.modalCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    overflow: hidden;
}

.carouselContent {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 80%;
    height: 100%;
}

.carouselImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carouselVideo {
    width: 575px;
    height: 400px;
    border-radius: 10px;
}

.carouselNavigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselNavigation button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.carouselNavigation.prev {
    left: 10px;
}

.carouselNavigation.next {
    right: 10px;
}

.modalDescription,
.modalResponsabilities {
    margin-top: 20px;
}

.projectLink a {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

.modalContent h1 {
    font-size: 2rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.modal.open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    transform: translateY(-30px);
    animation: modalIn 0.3s ease-out forwards;
}

@keyframes modalIn {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal.close {
    animation: modalOut 0.3s ease-out forwards;
}

@keyframes modalOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}