body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #191919;
}

.project {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 20px;
  background-color: #191919;
}

.project h1 {
  font-size: 42px;
  color: #f9004d;
  text-align: left;
}

.project h2 {
  font-size: 36px;
  color: #f9004d;
  margin-bottom: 20px;
  text-align: left;
}

.item {
  padding-left: 14px;
  margin: 14px 0;
  color: white;
}

.split-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.left-content {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.right-content {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.button {
  margin-top: 50px;
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: white;
  color: #191919;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  width: 800px;
  height: auto;
  margin: 40px;
}
.video-player {
  width: 800px;
  height: auto;
}

.centered-video {
  margin: 0 auto; /* Center the video horizontally */
}

@media (max-width: 600px) {
  .content {
    width: auto;
    height: auto;
  }
  .video-player {
    max-width: 300px;
    height: auto;
  }
}

@media (width: 768px) {
  .content {
    width: auto;
    height: auto;
    margin-bottom: 80px;
  }

  .video-player {
    width: 600px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .project {
    text-align: center; /* Center content horizontally for mobile */
  }

  .project h1,
  .project h2 {
    text-align: center; /* Center text horizontally for mobile */
  }

  .split-content {
    flex-direction: column; /* Change to column layout for mobile */
  }

  .left-content,
  .right-content {
    text-align: center; /* Center text within left and right content for mobile */
    padding: 0; /* Remove padding to save space on mobile */
  }

  .button {
    margin-top: 20px; /* Reduce top margin for spacing on mobile */
  }

  .item {
    padding-left: 0; /* Remove left padding for mobile */
  }
}
