.projects {
    text-align: center;
    align-content: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.projectsTitle {
    margin-bottom: 30px;
}

.projectList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
}

@media (max-width: 800px) {
    .projectList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .projectList {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 800px) {
    .projectList {
        margin-bottom: 80px;
    }
}

.projectItem {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 300px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    opacity: 0;
    animation: fadeInItem 0.5s ease-in-out forwards;
}

@keyframes fadeInItem {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.projectItem:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2), -8px -8px 20px rgba(255, 255, 255, 0.8);
}

.projectItem .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.projectItem:hover .bgImage {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.projectItem:hover .tooltip {
    opacity: 1;
    visibility: visible;
}